form {
	margin: 20px 0;
}

fieldset {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border: 0;
}

label, legend {
	display: block;
}

label span,
legend span {
	font-weight: normal;
	font-size: inherit;
	color: $label-color;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="datetime-local"],
input[type="number"],
input[type="tel"],
input[type="datetime"],
input[type="date"],
input[type="month"],
input[type="search"],
input[type="file"],
input[type="range"],
input[id="text_inline"],
textarea, {
	display: block;
	outline: none;
	min-width: $form-item-min-width;
	width: 100%;
	background: $input-bg;
	border: 1px solid $input-border;
	font-size: $input-size;
	line-height: 1;
	color: $input-color;
	padding: 10px;
	margin-bottom: 20px;

	&:focus {
		cursor: pointer;
	}
}

// Removes the red outline
input:invalid {
   -moz-box-shadow: none !important;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
	width: 100%;
	min-height: 60px;
}

select {
	padding: 3px;
	min-width: $form-item-min-width;
	width: 100%;
	margin: 0;

	optgroup {
		font-size: 15px;
	}

	option {
		font-size: 13.5px;
	}
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
	line-height: normal;
	cursor: pointer;
}

input[type="image"] {
	border: 0;
}

input[type="file"] {
	width: auto;
	padding: initial;
	line-height: initial;
	background-color: $input-bg;
	border: initial;
}

input[type="button"], input[type="reset"], input[type="submit"] {
	width: auto;
	height: auto;
}

input[type="file"] {
	height: 28px;
	*margin-top: 4px;
	line-height: 28px;
	line-height: 18px \9;
}

input:valid, textarea:valid {
	background-color: $valid;
}

input:invalid, textarea:invalid {
	background-color: $invalid;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
	*width: 13px;
	*height: 13px;
	display: inline;
}

::-webkit-input-placeholder {
  color: $input-color;
}

:-moz-placeholder {
  color: $input-color;
}

::-moz-placeholder {
  color: $input-color;
}

:-ms-input-placeholder {
  color: $input-color;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	padding: 5px;
	background: $button-bg;
	font-size: 12px;
	margin: 0;
	padding: 5px 10px;

	&:hover, &:focus {
		background: $button-bg-focus;
	}

	&:active {
		background: $button-bg;
	}
}


// Normalizing styles
button, input, select, textarea {
	margin: 0;
	vertical-align: middle;
}

button, input {
	*overflow: visible;
	line-height: normal;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0; border: 0;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="checkbox"] + label,  input[type="radio"] + label {
	display: inline;
	float: none;
	width: auto;
}

input[type="radio"] ul li label {
	display: inline;
	float: none;
	width: auto;
	font-weight: normal;
}